<!-- Clients Aside -->
<section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
				  <div class="block">
				   <div id="clients-logo" class="owl-carousel">
				     <div class="clients-logo-img">
				       <img src="img/logos/designmodo1.jpg" alt="Features">                  
					</div>
				     <div class="clients-logo-img">
				       <img src="{{ site.baseurl }}/img/logos/envato1.jpg" alt="Features">
                     </div>
				     <div class="clients-logo-img">
				       <img src="{{ site.baseurl }}/img/logos/themeforest1.jpg" alt="Features">
                     </div>
                   </div>
			      </div>
                </div>
            </div>
		</div>	
</section>

