<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row" >
        <div class="text-center">

        <h2>Patrocinadores</h2>
      </div>


                <div id="testimonial-slider" class="carousel">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.ine.gob.bo/" target="_blank">
                        <img src="img/logos/ine.jpg" class="img-responsive img-centered" alt="" width="260" height="140">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://estadistica.umsa.bo/" target="_blank">
                        <img src="img/logos/themeforest1.jpg" class="img-responsive img-centered" alt="" width="204" height="149">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.aru.org.bo/" target="_blank">
                        <img src="img/logos/envato1.jpg" class="img-responsive img-centered" alt="" width="235" height="115">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.bancomundial.org/es/country/bolivia" target="_blank">
                        <img src="img/logos/banco.jpg" class="img-responsive img-centered" alt="" width="278" height="73">
                    </a>
                </div>  
				<div class="col-md-3 col-sm-6">
                    <a href="https://www.unicef.org/es" target="_blank">
                        <img src="img/logos/unicef.jpg" class="img-responsive img-centered" alt="" width="191" height="103">
                    </a>
                </div>  
				<div class="col-md-3 col-sm-6">
                    <a href="http://www.fao.org/home/es/" target="_blank">
                        <img src="img/logos/fao.jpg" class="img-responsive img-centered" alt="" width="301" height="91">
                    </a>
                </div> 
				<div class="col-md-3 col-sm-6">
                    <a href="https://www.upsa.edu.bo/" target="_blank">
                        <img src="img/logos/upsa.jpg" class="img-responsive img-centered" alt="" width="182" height="90">
                    </a>
                </div> 
            </div> 
            </div>                        
        </div>


<div class="container">
            <div class="row" >
        <div class="text-center">
        <h2>Proyecto Internacional de Alfabetización Estadística</h2>
          </div>

<div class="carousel" style="float:left; display:inline-block; ">
        <span style="float:left;width: 20%;">
            <img src="img/islp.jpg"  class="img-responsive img-centered" alt="" width="200" height"120" />
        </span>
        <span style="float:right;width: 80%;">
            <p style="float:right; display:block;">
El Proyecto Internacional de Alfabetización Estadística (<a href="https://iase-web.org/islp/">ISLP</a>) está bajo el paraguas de la Asociación Internacional para la Educación Estadística (<a href="https://iase-web.org/">IASE</a>), la sección de educación del Instituto Internacional de Estadísticas (<a href="https://isi-web.org/">ISI</a>). Es administrado por el Ejecutivo del ISLP y supervisado por el Comité Asesor del ISLP. El Comité Asesor está presidido por el Presidente de IASE y tiene representantes de IASE, IAOS e ISI.

Aprenda sobre la historia del ISLP y el Proyecto de aritmética mundial, vea a todas las <a href="https://iase-web.org/islp/People.php">personas que administran este proyecto</a>, nuestra <a href="https://iase-web.org/islp/About.php?p=History_1994_to_2002">historia</a> y nuestra <a href="https://iase-web.org/islp/About.php?p=Mission">misión</a>.
            </p>

        </span>
 </div>
 

            </div>                        
        </div>


    </aside>