<!-- Services Section -->
    <section id="portfolio2_grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizadores</h2>
                    <h3 class="section-subheading text-muted">El comite organizador de la iniciativa Alfabetización Estadística está compuesto por:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="img-circle img-responsibe" src="img/cat/4cat.jpg" alt="" width="150" height="150">
                    
                    <h4 class="service-heading">Fundación ARU - Director Ejecutivo</h4>
                    <p class="text-muted"> La Fundación Aru es un instituto de investigación de políticas públicas sin fines de lucro, independiente y plural. Su compromiso es producir y promover investigación local aplicada de alta calidad a partir de herramientas globales, que permita informar e influir en el debate sobre políticas públicas para incentivar la decisión en políticas públicas a partir de la evidencia científica. Paul Mauricio Villarroel Via es Director Ejecutivo de Fundación ARU, líder del Grupo de Monitoreo y Evaluación, sus estudios abarcan áreas de: Empleo, Educación y Bienestar. </p>
                </div>
                <div class="col-md-4">
                     <img class="img-circle img-responsibe" src="img/cat/5cat.jpg" alt="" width="150" height="150">
                    <h4 class="service-heading">Alfabetización Estadística - Coordinador Nacional</h4>
                    <p class="text-muted">Coordinador Tecnico - Red Boliviana de Datos y Encuestas de Fundación ARU, Alvaro Limber Chirino Gutierrez, estudió estadística en pregrado en la Universidad Mayor de San Andrés (UMSA), donde fue reconocido como uno de los mejores estudiantes, actualmente cursa una Maestría en Modelaje Matemático, es docente en la UMSA y actualmente Coordinador Nacional de la iniciativa del ISLP .</p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsibe" src="img/cat/6cat.png" alt="" width="150" height="150">
                    <h4 class="service-heading">Administración</h4>
                    <p class="text-muted">Estudiantes de pregrado de universidades públicas o privadas. </p>
                </div>
            </div>
        </div>
    </section>