<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Categorías</h2>
                    <h3 class="section-subheading text-muted">Podrán participar todos los adolescentes y jóvenes de
                      Bolivia, formando equipos de 2 a 5 personas, más un guía o tutor, en una de las categorías:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="img-circle img-responsibe" src="img/cat/1cat.jpg" alt="" width="160" height="160">
                    
                    <h4 class="service-heading">1. Bernoulli</h4>
                    <p class="text-muted"> Adolescentes nacidos en los años 2008, 2009 y 2010. </p>
                </div>
                <div class="col-md-4">
                     <img class="img-circle img-responsibe" src="img/cat/2cat.jpg" alt="" width="150" height="150">
                    <h4 class="service-heading">2. Poisson</h4>
                    <p class="text-muted">Adolescentes y jóvenes nacidos en los años 2005, 2006 y 2007.  </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsibe" src="img/cat/3cat.jpg" alt="" width="150" height="150">
                    <h4 class="service-heading">3. Gauss</h4>
                    <p class="text-muted">Estudiantes de pregrado de universidades públicas o privadas sin límite de edad. </p>
                </div>
            </div>
        </div>	
    </section>	

	
	
	
	
	